.line-container{
    background-color: #F5CFA2;
    width:1280px;
   
}
.line-container p {
    margin-bottom: 8%;
    flex-basis: 50%;
    text-align: center;
  }

.top-container{
    background-color: #FAE6CE;
    width:1280px;
}
.container-f{
    background-color: #FAE6CE !important;
    margin-bottom: 0%!important ;
}
.titR{
    margin-top: 10%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.tit{
    margin-top: 14%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
}
p {
    margin-bottom: 5px !important;
    color:#101010;
    font-family: 'Poppins', sans-serif;
    size:12px;
    line-height:18px;
    margin-bottom: 5%!important ;
  }
  .location-container {

    align-items: center;
    margin-top: 0%;
  }
  .location-icon{
    color:#F5037C;
    margin-right: 10px;
    font-weight: bold;
    
  }
  .bold-text {
    font-weight: bold;
    font-size: 12px;
  }
  
  .time-text {
    font-size: 12px;
    margin-left: 12%;
  }
  
  .text-reset{
    font-size:12px;
  }
  .text-reset:hover {
    text-decoration: underline;
  }
  .metodos-pago {
    margin-top: 10%;
    align-items: center;
    font-size: 16px;
  }
  
  .social-icon a {
    margin-right: 10px; /* Adjust the value as per your desired spacing */
  }
  .social-icon a:hover .icon {
    color: BLACK; /* Change the color to your desired hover color */
  }
  .icon{
    color:#F5037C;
  }

  .line-container {
    display: flex;
    height: 53px;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
  }
  
  .bottom{
    font-Size: 14px;
 
  }
  .row{
    margin-left:0% !important;

  }
  .row div{
    margin-left:2% !important;

  }
  .custom-margin {
    
    margin-left: 30%!important;
  }
  .text{
    font-size: 12px;
  }
/*Media 1024*/
  @media (max-width: 1024px) {
  .line-container{
    width:1024px;
  }
  .top-container{
    width:1024px;
}
}
/*Media 768*/
@media (max-width: 768px) {
  .line-container {
    width: 100%;
    max-width: 768px;

  }
.titR {
  margin-top: 15%;
}
  .top-container {
    width: 100%;
    max-width: 768px;
  }
.custom-preg{
  margin-left: 80%;
  margin-top: 10%;
}

.custom{
  margin-top: 15%;
  margin-left: 80%;
}
  .custom-h6{
  margin-left: 80%;
  margin-top: 5%;
}

.text{
  margin-left: 80%;
  justify-content: center;
}

.icon-retiro{
  margin-left: 73%;
}
.line-container p {
  font-size: 12px;
}
}
/*Media 640*/
@media (max-width: 640px){
.line-container{
  width: 100%;
  max-width: 640px;
}
.top-container{
  width:640px;
}
.custom-preg{
  margin-left: 0%;
}
.custom{
  margin-left: 0%;
}
  .custom-h6{
  margin-left: 0%;
}
.text{
  margin-left: 0%;

}
.icon-retiro{
  margin-left: 0%;
}
.line-container p {
  margin-top: -3%;
  flex-basis: 45%;
}
}


  
  
  
  
  
  